<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Motos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    {% for moto in motos %}
        <br>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ moto.foto.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ moto.marca }} {{ moto.modelo }}</h5>
                <p class="card-text">{{ moto.precio }} €</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Vendedor: </b>{{ moto.nombre_vendedor }}</li>
                <li class="list-group-item"><b>Correo: </b>{{ moto.correo }}</li>
                <li class="list-group-item"><b>Telefono: </b>{{ moto.telefono }}</li>
                <li class="list-group-item"><b>Localidad: </b>{{ moto.localidad }}</li>
                <li class="list-group-item"><b>Fecha fabricacion: </b>{{ moto.fecha_fabricacion }}</li>
                <li class="list-group-item"><b>Kilometros: </b>{{ moto.kilometros }}km</li>
            </ul>
        </div>
        <br>
    {% endfor %}
</body>

</html>