{% extends "principal/base.html" %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Crear">
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}